body{
    margin: 0;
    padding: 0;
}

.main{
    margin-top: 200px;
    margin-left: 400px;
    text-align: center;
    border: 2px solid black;
    width: 300px;
    height: 40px;
    background-color:rgb(219, 208, 208);
}

.container{
    margin-top: 8px;
}
input:focus{
    background-color: aqua;
}
button:hover{
    background-color: aqua;
}